.menu{
    background: rgb(1,0,236); 
    background: linear-gradient(78deg, rgb(1, 1, 138) 0%, rgb(0, 126, 236) 100%);
    padding: 0px ;
}

.img-logos{
    max-width: 140px;
    margin: 0px;
    padding: 0px;
}

.options{
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
}

