.background1{
    background-image: url('/public/img/futuristic-fondo.webp');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.background2{
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    background-size: cover;
}

.background-img{
    background-image: url('../public/img/img-fondo.webp');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    width: auto;
    height: auto;
}
